@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Mont";
    src: url("/public/fonts/Mont.ttf");
}

body{
    background-color: rgb(26, 26, 27);
    color: white;
}